<p>
	<%= f.label :image  %>
	<%= f.file_field :image %>
</p>

<p>
	<%= f.label :title %>
	<%= f.text_field :title %>
</p>

<p>
	<%= f.label :content %>
	<%= f.text_area :content %>
</p>

<p>flight there</p>

<%= f.fields_for :aviasalers do |builder| %>
  <%= render 'aviasaler_fields', f: builder %>
<% end %>

<%= f.fields_for :tickets do |builder| %>
  <%= render 'ticket_fields', f: builder %>
<% end %>

<%= checkbox_to_add_fields "Add Change", f, :tickets %>

<p>flight back</p>