<div class="image_block">
  <%= f.label "Download the trip image" %><br>
  <%= f.file_field :image %>
</div>



<div class="trip_block">
  <div class="rounds left_trip"></div>
  <div class="rounds right_trip"></div> 
<div class="trip_block_border">
<div class="trip_part">
<p>
  <%= f.label "Trip name" %><br>
  <%= f.text_field :title, class:"trip_fields" %>
</p>

<p>
  <%= f.label "Trip description" %><br>
  <%= f.text_area :content, class:"trip_fields texter" %>
</p>

<p>
  <%= f.label :city %><br>
  <%= f.text_field :city, class:"trip_fields middle_trip_fields" %>
</p>

<p>
  <%= f.label :country %><br>
  <%= f.text_field :country, class:"trip_fields middle_trip_fields" %>
</p>
</div>
</div>

<div class="rounds left_trip"></div>
  <div class="rounds right_trip"></div>

<div class="trip_block_border">
<div class="trip_part">

  <%= f.label :no_visa %>
  <%= f.check_box :no_visa %>

</div>
</div>
<div class="rounds left_trip"></div>
<div class="rounds right_trip"></div>

<div class="trip_block_border">
<div class="trip_part">
 
<b>Flight there:</b>
<div class="sprite airplane_there"></div>
 
  <%= f.fields_for :tickets do |builder| %>
    <%= render 'ticket_fields', f: builder %>
    <%= builder.hidden_field :back_side, :value => false %>
  <% end %>

  <%= f.fields_for :aviasalers do |builder| %>
    <%= render 'salers_fields', f: builder %>
    <%= builder.hidden_field :back_side, :value => false %>
  <% end %>
</div>
</div>
<div class="rounds left_trip"></div>
<div class="rounds right_trip"></div>

<div class="trip_block_border">
<div class="trip_part">

<b>Flight back:</b>
<div class="sprite airplane_back"></div>

  <%= f.fields_for :aviasalers do |builder| %>
    <%= render 'salers_fields', f: builder %>
    <%= builder.hidden_field :back_side, :value => true %>
  <% end %>

  <%= f.fields_for :tickets do |builder| %>
    <%= render 'ticket_fields', f: builder %>
    <%= builder.hidden_field :back_side, :value => true %>
  <% end %>
</div>
</div>
<div class="rounds left_trip"></div>
<div class="rounds right_trip"></div>

<div class="trip_part">

<b>Hotel:</b>
<div class="sprite hotel_image"></div>


  <div class="sprite stars four_stars"></div>


  <%= f.fields_for :hotels do |builder| %>    
    <%= render 'hotels_fields', f: builder %>
    <%= builder.hidden_field :five_stars, :value => false %>
  <% end %>

  <%= f.fields_for :hotelsalers do |builder| %>    
    <%= render 'hotelsalers_fields', f: builder %>
    <%= builder.hidden_field :five_stars, :value => false %>
  <% end %>


  <p><div class="sprite stars five_stars"></div></p>
 <%= f.fields_for :hotels do |builder| %>    
    <%= render 'hotels_fields', f: builder %>
    <%= builder.hidden_field :five_stars, :value => true %>
  <% end %>

  <%= f.fields_for :hotelsalers do |builder| %>    
    <%= render 'hotelsalers_fields', f: builder %>
    <%= builder.hidden_field :five_stars, :value => true %>
  <% end %>
