 <p>Ticket supplier</p>

<p>
    <%= f.label :name %>
    <%= f.text_field :name %>
 </p>
 <p>
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
 <p>
 </p>
    <%= f.label :actual_time %>
    <%= f.datetime_select :actual_time %>
 </p>
 <p>
    <%= f.label :price %>
    <%= f.text_field :price %>
 </p>