<fieldset>

<p>
  <%= f.label :departure_city %>
  <%= f.text_field :departure_city %>
</p>

<p>
  <%= f.label :departure_code %>
  <%= f.text_field :departure_code %>
</p>

<p>
  <%= f.label :departure_time %>
  <%= f.datetime_select :departure_time %>
</p>

<p>
  <%= f.label :arrival_city %>
  <%= f.text_field :arrival_city %>
</p>

<p>
  <%= f.label :arrival_code %>
  <%= f.text_field :arrival_code %>
</p>

<p>
  <%= f.label :arrival_time %>
  <%= f.datetime_select :arrival_time %>
</p>

<p>
  <%= f.label :aviacompany %>
  <%= f.text_field :aviacompany %>
</p>

<p>
  <%= f.label :flight %>
  <%= f.text_field :flight %>
</p>

</fieldset>