<fieldset>
<p>
    <%= f.label :departure_city %>
    <%= f.text_field :departure_city %>

    <%= f.label :departure_code %>
    <%= f.text_field :departure_code %>
    <p>
    <%= f.label :departure_time %>
    <%= f.datetime_select :departure_time %>
    </p>
</p>
</fieldset>
<fieldset>
<p>
    <%= f.label :arrival_city %>
    <%= f.text_field :arrival_city %>

    <%= f.label :arrival_code %>
    <%= f.text_field :arrival_code %>
    <p>
    <%= f.label :arrival_time %>
    <%= f.datetime_select :arrival_time %>
    </p>
</p>
</fieldset>
<fieldset>
<p>
	<%= f.label :aviacompany %>
    <%= f.text_field :aviacompany %>

    <%= f.label :flight %>
    <%= f.text_field :flight %>
</p>
</fieldset>