<ul class="supplier">

<li>
    <%= f.label :departure_city %><br>
    <%= f.text_field :departure_city, class:"trip_fields middle_trip_fields" %>
</li>
<li>
    <%= f.label "Code" %><br>
    <%= f.text_field :departure_code, class:"trip_fields small_trip_fields" %>
</li>
<li>
    <%= f.label :departure_time %><br>
    <%= f.datetime_select :departure_time, class:"datetime" %>
</li>
<li>
    <%= f.label :arrival_city %><br>
    <%= f.text_field :arrival_city, class:"trip_fields middle_trip_fields" %>
</li>
<li>
    <%= f.label "Code" %><br>
    <%= f.text_field :arrival_code, class:"trip_fields small_trip_fields" %>
</li>
<li>
    <%= f.label :arrival_time %><br>
    <%= f.datetime_select :arrival_time, class:"trip_fields middle_trip_fields" %>
</li>


<li>
	<%= f.label :aviacompany %><br>
    <%= f.text_field :aviacompany, class:"trip_fields middle_trip_fields" %>
</li>
<li>
    <%= f.label :flight %><br>
    <%= f.text_field :flight, class:"trip_fields middle_trip_fields" %>
</li>
</ul>