<div class="block"> 
	<% if trip.no_visa? %>
	<div id="top_triangle"></div><div id="novisa"></div><div id="bot_triangle"></div>
	<% end %>
<div class="image">
<%= link_to image_tag(trip.image_url(:thumb).to_s), trip_path(trip.id) %> 
</div>
<div class="title_trip_left"><%= trip.title %></div>
<div class="dates_trip_left">
 <% for ticket in trip.tickets %>
      <% if ticket.back_side == false %>
        <%= ticket.departure_time.strftime("%B %d") %>
      <% elsif %>
      	-
      	<%= ticket.arrival_time.strftime("%B %d")  %>
      <% end %>
 <% end %>
</div>
<div class="places_trip_left"><%= trip.city %>, <%= trip.country %></div>
<div class="price">
<div id="price_p">
<%= number_to_currency(trip.aviasalers.sum(:price).to_i + trip.hotelsalers.where(five_stars:false).sum(:price_one),  precision: 0) %> 
</div></div>
<div class="line"><div class="left"></div></div><div class="right"></div> </div>

<!--
<% if current_user.try(:admin?) %>
<%= link_to "edit", edit_trip_path(trip.id), :class => 'action' %> 
| <%= link_to "delete", trip, method: :delete,
data: { confirm: "You sure?" },
title: trip.title %>
<% end %>
-->