  
  <%= image_tag @trip.image_url(:thumb).to_s %>	

  <div class="title"><%= @trip.title %></div>
  <div class="content"><%= @trip.content %></div>
  <%= aviasaler.name %>
  <%= aviasaler.quantity %>
  <%= aviasaler.actual_time %>
  <%= aviasaler.price %>

   <% if current_user.try(:admin?) %>
  	  <%= link_to "edit", edit_trip_path(@trip.id), :class => 'action' %>	
    | <%= link_to "delete", @trip, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @trip.title %>
  <% end %>

