<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div id="register"> 
    
    <p id="name_reg">Sign in</p>
    <%= link_to "Sign up", signup_path, id: "enter_link" %>
  
    <%= form_tag(sessions_path) do %>
      <%= text_field :session, :email, id: "input_fields", placeholder: "E-mail"%>
      <%= password_field :session, :password, id: "input_fields", placeholder: "Password"%>

      <div id="check">
        <label id="agreement">
          <%= check_box_tag :remember_me, 1, params[:remember_me], id:"checkbox" %>
          <%= label_tag :remember_me %>
        </label>
      </div>
    
      
    <div id="smb"><%= submit_tag("Sign in", id: "submit") %></div>  

    <% end %>          

    <p id="remind"><%= link_to "Remind the password", new_password_reset_path %></p>         
  </div>
