<footer>
<div id="foot_div">
<div id="footer720">
	<ul id="footer_nav">
  		<li><%= link_to "About", '#' %></li>
  		<li><%= link_to "Help", '#' %></li>
  		<li><%= link_to "Terms", '#' %></li>
 		<li><%= link_to "Privacy", '#' %></li>
 		<li><%= link_to "Contacts", '#' %></li>
	</ul>
 	<div id="details"> 2014 © fast trip — online travel store. 
The illustrations and all the information on this entire web site are the sole property of their authors.
To proceed you should be 18 or older. 
And don't forger your visa.</br>
<p id="greeting"><b>Have a nice trip!</b></p>

	</div>


<div class="footertext">
hello@fasttrip.me | +38 093 064 94 14 | +38 096 229 64 77 | +38 093 221 13 51
</div>
</div>

<ul class="right_nav_footer">
	<li class="sprite payment"></li>
	<li>flat project</li>
	<li class="sprite social"></li>
</ul>
</div>
</footer>