<header>
  <div id= "header_div">
    <div class="head_ticket">
      <%= link_to " ", root_path, id:"fast_trip" %>
      <div id="logo"></div>
      <div id="elipse"></div>  
    </div>
    
    <nav>
      <div class="admin_buttons">
        <ul class="buttons_header">  
          <li><%= link_to "Users", '#' %></li>  
          <li><%= link_to "Orders", '#' %></li> 
          <li><%= link_to "Trips", '#' %></li> 
        </ul>
      </div>
      <%= render 'layouts/right_nav' %>
    </nav>

    </div>
</header>


            